/*通用设置*/
html {
  font-family: 'Helvetica Neue', Helvetica, 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei', '微软雅黑', Arial, sans-serif;
  height: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}
body {
  height: 100%;
  margin: 0;
  padding: 0;
  user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
}
#__nuxt,
#__layout {
  height: 100%;
}
#app {
  height: 100%;
}
[v-cloak] {
  display: none;
}
.swal-title {
  margin: 0px;
  font-size: 16px;
}
.swal-footer {
  background-color: #f5f8fa;
  margin-top: 20px;
  border-top: 1px solid #e9eef1;
  overflow: hidden;
}
.swal-overlay {
  z-index: 100000000 !important;
}
#smartAlert {
  z-index: 100000 !important;
}
/*修改bootcss*/
.form-control.is-valid {
  border-color: #cceecc;
}
.font_normal {
  font-size: 14px;
}
.font_10 {
  font-size: 10px;
}
.clear {
  clear: both;
}
.none {
  display: none;
}
.pointer {
  cursor: pointer;
}
.color-Purple {
  color: #7e57c2;
}
.color-primary {
  color: #337ab7;
}
.color-success {
  color: #5cb85c;
}
.color-info {
  color: #5bc0de;
}
.color-warning {
  color: #f0ad4e;
}
.color-danger {
  color: #d9534f;
}
.color-gray {
  color: #999;
}
.mr_5 {
  margin-left: 5px;
  margin-right: 5px;
}
.mr_10 {
  margin-left: 10px;
  margin-right: 10px;
}
.mr_20 {
  margin-left: 20px;
  margin-right: 20px;
}
.pd_50 {
  padding-left: 50px;
  padding-right: 50px;
}
.wauto {
  width: auto;
}
.w100 {
  width: 100%;
}
.w75 {
  width: 75%;
}
.w50 {
  width: 50%;
}
.w25 {
  width: 25%;
}
.center {
  text-align: center;
}
/*checkbox定义*/
.checkbox-circle {
  width: 20px;
  height: 20px;
  background: #ddd;
  margin: 0;
  border-radius: 100%;
  position: relative;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5);
  display: inline-block;
}
.checkbox-circle label {
  display: block;
  width: 16px;
  height: 16px;
  border-radius: 100px;
  transition: all 0.01s ease;
  cursor: pointer;
  position: absolute;
  top: 2px;
  left: 2px;
  z-index: 1;
  background: #ccc;
  box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.5);
}
.checkbox-circle input[type='checkbox'] {
  display: none;
}
.checkbox-circle input[type='checkbox']:checked + label {
  background: #26ca28;
}
.text_with_1px_border {
  text-shadow: -1px -1px 0px #fff, 0px -1px 0px #fff, 1px -1px 0px #fff, -1px 0px 0px #fff, 1px 0px 0px #fff, -1px 1px 0px #fff, 0px 1px 0px #fff, 1px 1px 0px #fff;
}
.text_with_2px_border {
  text-shadow: -1px -1px 0px #fff, 0px -1px 0px #fff, 1px -1px 0px #fff, -1px 0px 0px #fff, 1px 0px 0px #fff, -1px 1px 0px #fff, 0px 1px 0px #fff, 1px 1px 0px #fff, /* second layer at 2px */ -2px -2px 0px #fff, -1px -2px 0px #fff, 0px -2px 0px #fff, 1px -2px 0px #fff, 2px -2px 0px #fff, 2px -1px 0px #fff, 2px 0px 0px #fff, 2px 1px 0px #fff, 2px 2px 0px #fff, 1px 2px 0px #fff, 0px 2px 0px #fff, -1px 2px 0px #fff, -2px 2px 0px #fff, -2px 1px 0px #fff, -2px 0px 0px #fff, -2px -1px 0px #fff;
}
.body-container {
  width: 100%;
  height: 100%;
  font-size: 13px;
}
header {
  min-height: 152px;
}
header .header-title {
  font-weight: bold;
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
header .header-title .logo > img {
  height: 60px;
}
@media (min-width: 768px) {
  header .header-title .logo > img {
    height: 75px;
  }
}
@media (min-width: 1200px) {
  header .header-title .logo > img {
    height: 90px;
  }
}
header .header-title .company-name {
  display: none;
}
@media (min-width: 768px) {
  header .header-title .company-name {
    display: block;
    font-size: 28px;
    color: #666;
    flex-grow: 1;
  }
}
@media (min-width: 1200px) {
  header .header-title .company-name {
    font-size: 36px;
  }
}
header .header-title .contact-info {
  display: none;
}
@media (min-width: 768px) {
  header .header-title .contact-info {
    display: block;
    letter-spacing: 1px;
  }
  header .header-title .contact-info .phone {
    display: block;
    color: #ff6d40;
    margin-bottom: 6px;
  }
  header .header-title .contact-info .weixin {
    display: block;
    color: #8bc600;
  }
}
.bg-orange {
  font-size: 16px;
  color: white;
  background-color: #ff6d40 !important;
}
.navbar-orange {
  padding-left: 0;
  padding-right: 0;
}
@media (min-width: 768px) {
  .navbar-orange {
    padding-top: 0;
    padding-bottom: 0;
  }
}
.navbar-orange .navbar-brand {
  color: #fff;
  font-size: 16px;
  padding-left: 20px;
}
.navbar-orange .navbar-brand:hover,
.navbar-orange .navbar-brand:focus {
  color: #fff;
}
@media (min-width: 768px) {
  .navbar-orange .navbar-brand {
    display: none;
  }
}
.navbar-orange .navbar-nav {
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 576px) {
  .navbar-orange .navbar-nav {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .navbar-orange .navbar-nav {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .navbar-orange .navbar-nav {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .navbar-orange .navbar-nav {
    max-width: 1140px;
  }
}
.navbar-orange .navbar-nav .nav-link {
  color: #fff;
  padding: 10px 30px;
}
.navbar-orange .navbar-nav .nav-link:hover,
.navbar-orange .navbar-nav .nav-link:focus {
  color: #fff;
  background-color: #e90000;
}
.navbar-orange .navbar-nav .nav-link.disabled {
  color: #ccc;
}
.navbar-orange .navbar-nav .show > .nav-link,
.navbar-orange .navbar-nav .active > .nav-link,
.navbar-orange .navbar-nav .nav-link.show,
.navbar-orange .navbar-nav .nav-link.active {
  color: #fff;
}
.navbar-orange .navbar-toggler {
  margin-right: 10px;
  color: #fff;
  border-color: #eee;
}
.navbar-orange .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(255, 255, 255, 0.9)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}
.navbar-orange .navbar-text {
  color: #fff;
}
.navbar-orange .navbar-text a {
  color: #fff;
}
.navbar-orange .navbar-text a:hover,
.navbar-orange .navbar-text a:focus {
  color: #fff;
}
.navbar-orange .dropdown-menu {
  background-color: #ff6d40;
}
.navbar-orange .dropdown-menu a {
  padding-left: 40px;
  color: #fff;
  background-color: #ff6d40;
}
.navbar-orange .dropdown-menu a:hover,
.navbar-orange .dropdown-menu a:focus {
  background-color: #e90000;
}
