// out: false
@import 'base.less';
@import 'header.less';
@import 'banner.less';
@import 'footer.less';
@import 'homepage.less';
a {
  color: #333;
  &:hover {
    text-decoration: none;
    color: #000;
  }
  &.white {
    color: white;
    &:hover {
      text-decoration: none;
      color: white;
    }
  }
  &.orange {
    color: @orange;
    &:hover {
      text-decoration: none;
      color: @cherry;
    }
  }
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.gongan {
  img,
  p {
    display: inline-block;
    vertical-align: top;
    margin: 0;
  }
}
.body-container {
  width: 100%;
  font-size: 13px;
}
.wexin-code {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  width: 280px;
  height: 280px;
  background-color: #fff;
  box-shadow: 0 1px 10px #ccc;
  z-index: 99;
  > .code {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    white-space: nowrap;
  }
  .close {
    display: block;
    position: absolute;
    cursor: pointer;
    right: 10px;
    top: 10px;
  }
}
.main {
  min-height: 550px;
  padding-bottom: 40px;
  .page-title {
    background-image: url(~assets/imgs/Separator.jpg);
    background-repeat: repeat;
    text-align: center;
    padding: 0;
    margin: 20px 0;
    > span {
      display: block;
      color: @orange;
      font-size: 80%;
      display: inline-block;
      background-color: #fff;
      padding: 4px 30px;
      @media (min-width: 768px) {
        font-size: 100%;
        padding: 2px 30px;
      }
    }
  }
  .page-sub-title {
    text-align: center;
    font-weight: normal;
  }
  .page-inside-nav {
    margin: 20px 0;
    dl {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: row;
      flex-wrap: wrap;
      margin: 0;
    }
    dd {
      margin: 10px;
      a {
        padding: 10px 30px;
        min-width: 120px;
        display: block;
        text-align: center;
        border-radius: 4px;
        background-color: #666;
        &:hover,
        &.active {
          box-shadow: 0 1px 10px @cherry;
          background-image: linear-gradient(90deg, @orange 0%, @cherry 100%);
        }
      }
    }
  }
  .page-content {
    margin: 20px auto 0 auto;
    max-width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    word-break: break-all;
    overflow: hidden;
    &.limit-width {
      img {
        max-width: 100% !important;
      }
    }
    @media (min-width: 992px) {
      max-width: 800px;
    }
    @media (min-width: 1200px) {
      max-width: 900px;
    }
  }
  .content {
    max-width: 700px;
    margin: 0 auto;
    font-size: 14px;
  }
  .contactus {
    margin: 0 auto;
    text-align: center;
    .address {
      text-align: left;
      list-style: none;
      padding-left: 0;
      margin-top: 20px;
      margin-bottom: 60px;
      li {
        padding: 6px 0;
        label {
          &::after {
            content: ':';
          }
        }
        i {
          color: @orange;
          margin-right: 6px;
        }
      }
      @media (min-width: 768px) {
        font-size: 120%;
      }
    }
    @media (min-width: 768px) {
      max-width: 910px;
    }
  }
  .page-news-list {
    li {
      cursor: pointer;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: flex-start;
      position: relative;
      width: 100%;
      margin: 10px 0;
      padding: 10px;
      box-shadow: 0 1px 5px #ccc;
      @media (min-width: 768px) {
        margin: 20px 0;
        &:hover {
          box-shadow: 0 1px 5px @cherry;
        }
      }
      .cover-container {
        display: none;
        @media (min-width: 768px) {
          display: inline-block;
          width: 100px;
          height: 100px;
          overflow: hidden;
          img {
            height: 100%;
          }
        }
      }
      .news-info {
        .news-intro {
          display: none;
        }
        @media (min-width: 768px) {
          margin-left: 20px;
          width: calc(100% - 120px);
          .news-title {
            font-size: 140%;
          }
          .news-intro {
            margin-top: 10px;
            display: block;
          }
        }
      }
    }
  }
  .page-product-list {
    ul {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
    }
    li {
      display: inline-block;
      cursor: pointer;
      width: calc(50% - 12px);
      height: 0;
      padding-bottom: 75%;
      overflow: hidden;
      margin: 16px 6px;
      box-shadow: 0 1px 5px #ccc;
      position: relative;
      @media (min-width: 768px) {
        width: calc(20% - 32px);
        margin: 26px 16px;
        padding-bottom: 30%;
      }
      > img {
        height: calc(100% - 36px);
        position: absolute;
        left: 50%;
        top: 0;
        transform: translateX(-50%);
      }
      .cover-title {
        position: absolute;
        display: block;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 36px;
        padding: 6px 10px;
      }
      &:hover {
        box-shadow: 0 1px 20px @cherry;
      }
    }
  }
  .page-item {
    &.active .page-link {
      z-index: 3;
      color: white;
      background-color: @dark-orange;
      border-color: @orange;
    }
  }
  .page-link {
    color: #333;
    &:hover {
      z-index: 2;
      text-decoration: none;
      color: white;
      background-color: @dark-orange;
      border-color: @orange;
    }

    &:focus {
      z-index: 3;
      // outline: $pagination-focus-outline;
      box-shadow: 0 1px 2px @orange;
    }
  }
  .news-detail {
    .pic-info {
      margin: 10px auto;
      text-align: center;
      img {
        box-shadow: 0 1px 5px #666;
      }
    }
  }
  .swiper-container {
    margin-bottom: 20px;
    border: 1px solid #ccc;
    box-shadow: 0 1px 5px #ccc;
    overflow: hidden;
    @media (min-width: 768px) {
      max-width: 480px;
    }
    .swiper-slide {
      position: relative;
      overflow: hidden;
      img {
        width: 100%;
      }
      .slide-info {
        display: none;
        cursor: pointer;
        z-index: 20;
        width: 100%;
        padding: 20px 40px;
        position: absolute;
        bottom: 0px;
        left: 50%;
        transform: translateX(-50%);
        color: white;
        text-shadow: 1px 1px 2px #333;
        background-color: rgba(0, 0, 0, 0.5);
        @media (min-width: 768px) {
          display: block;
        }
      }
    }
    .swiper-button-prev {
      background: url(~assets/imgs/zuo.png) center center no-repeat;
      background-size: 100% 100%;
    }
    .swiper-button-next {
      background: url(~assets/imgs/you.png) center center no-repeat;
      background-size: 100% 100%;
    }

    .swiper-pagination-bullet-active {
      background: @orange !important;
    }
  }
}
