// out: false
@import 'base.less';
@import 'header.less';
@import 'banner.less';
@import 'footer.less';
.body-container {
  width: 100%;
  height: 100%;
  font-size: 13px;
}
.wexin-code {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  width: 280px;
  height: 280px;
  background-color: #fff;
  box-shadow: 0 1px 10px #ccc;
  z-index: 99;
  > .code {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    white-space: nowrap;
  }
  .close {
    display: block;
    position: absolute;
    cursor: pointer;
    right: 10px;
    top: 10px;
  }
}
.main {
  min-height: 550px;

  .page-title {
    background-image: url(~assets/imgs/Separator.jpg);
    background-repeat: repeat;
    text-align: center;
    margin: 20px 0;
    color: @orange;
    > span {
      font-size: 80%;
      display: inline-block;
      background-color: #fff;
      padding: 4px 30px;
      @media (min-width: 768px) {
        font-size: 100%;
        padding: 2px 30px;
      }
    }
  }
  .page-content {
  }
  .contactus {
    margin: 0 auto;
    text-align: center;
    .address {
      text-align: left;
      list-style: none;
      padding-left: 0;
      margin-top: 20px;
      margin-bottom: 60px;
      li {
        padding: 6px 0;
        label {
          &::after {
            content: ':';
          }
        }
        i {
          color: @orange;
          margin-right: 6px;
        }
      }
      @media (min-width: 768px) {
        font-size: 120%;
      }
    }
    @media (min-width: 768px) {
      max-width: 910px;
    }
  }
}
